body {
	font-family: 'Droid Sans';
	background: #fff;
	color: #666666; 
	font-size: 12px;
}
.navbar{height:40px; margin:0;min-height:0;}

.navbar-default{border-color:#fff;background-color:#fff;}

.navbar-default .navbar-nav > li > a {
    font-size: 14px;
    padding-top:10px; padding-bottom:10px;
}


 /* .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #52b6ec;
	
} */
.navbar-default .navbar-nav > .active > a {
border-bottom: 2px solid #52b6ec;
background-color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #52b6ec;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #52b6ec;
}

.dropdown-menu {
    font-size: 12px;
}

.dropdown-menu > li > a {
    color: #777;   
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #52b6ec;
}

.brand-text h2 {
    color: #000;
    text-shadow: 0 0 1px #000;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;    
    text-align: center;
    margin-right:10px;
	padding:5px;
	
}
.color-blue{ color:#52b6ec;}
.color-red {color:#cd3c2e;}
.margin-top-50 {margin-top:44px;}
.background-blue{background-color:#52b6ec;}

h1, h2, h3, h4, h5, h6 {
	font-family: "Droid Sans" !important;
	margin: 0;
	padding: 0;
	font-weight: 700;
	color: #343434;
}

h1 {
  font-size: 36px;
  
}
/*check color */
h2 {
  
  font-size: 30px;  
}

h3 {
  font-size: 18px;
  
}

h4 {
  font-size: 13px;
  
}

h5 {
  font-size: 12px;
  
}

h6 {
  font-size: 11px;
  
}
.main-banner {padding-top:10px;background-color:#414141;}
.main-banner .icon { margin-left:45%;font-size:50px;color:#52b6ec;}
.main-banner h1 {text-shadow: 0 3px rgba(0, 0, 0, 0.1); 
display: inline-block;
    font-family: "Droid Sans" !important;    
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
	position:relative;
	
	}
.main-banner h1:before, .main-banner h1:after {
    display: block;
    height: 1px;
    content: " ";
    width: 40%;
    position: absolute;	
    top: 0.53em;
    z-index: 1;
}

.main-banner h1:before{
background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
    /* background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); */
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    /* background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
    left: 0;
}
.main-banner h1:after{
background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
    right: 0;
    left: auto;
	}

.main-banner h1 span {
    padding: 0px 10px;
    position: relative;
    z-index: 2;
	background: #414141;
}
.main-banner >#divCenters{ border-radius:10px;margin:0 20px; border:1px solid white;}
.animate-show div {padding-top:50px;}
 
/*Animation */
/*Centers Animation */
.animate-show {
  opacity: 1;
  }

.animate-show.ng-hide-remove {
  /*transition: all linear 2.9s;*/
  animation:1s show ease-in-out;
}

.animate-show.ng-hide {
  opacity: 0;
  }
  
  @keyframes show {
  0% {
    opacity:0;
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% { 
    opacity:1;
    transform: scale(1);
  }
}

@-webkit-keyframes show {
  0% {
    opacity:0;
    transform: scale(0);
  }
  30% {
    transform: scale(1);
  }
  100% { 
    opacity:1;
    transform: scale(1);
  }
}
  

/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Shutter Out Vertical */
.hvr-shutter-out-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  /* background: #e1e1e1; */
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-out-vertical:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2098d1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-out-vertical:hover, .hvr-shutter-out-vertical:focus, .hvr-shutter-out-vertical:active {
  color: white;
}
.hvr-shutter-out-vertical:hover:before, .hvr-shutter-out-vertical:focus:before, .hvr-shutter-out-vertical:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
/*Motivated from bootstrrap template */
.btn-white {
    background-color: transparent;
    color: #cd3c2e;
    border: 1px solid #e84c3d;
}
.btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white.active, .open .dropdown-toggle.btn-white {
    color: #fff;
    background-color: #cd3c2e;
    border-color: #cd3c2e;
}

.gray-bg {
    background-color: #f1f1f1;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.13) !important;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.13) !important;
    position: relative;
}

.white-bg {
    background-color: #ffffff !important;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    border: none !important;
}

.box-style-1 {
    text-align: center;
    padding-top: 10px;
    margin: 20px 0;
}
.box-style-1 >span{
    
    font-size:40px;
	
}

/* .box-style-1:hover span {color:#e84c3d;} */
.media {padding:5px 0 0 5px; text-align:left;box-shadow: 0px 2px 5px #888888; border-radius:5px;text-align:left}
.media >h4 {padding-bottom:5px;}
.media-body ul li {color:#eea236;padding:0 5px;}
.media-body p {text-overflow: ellipsis;word-wrap: break-word;overflow: hidden;max-height: 4.2em;line-height: 1.4em; margin:0;}

.separator {
    display: block;
    width: 140px;
    height: 5px;
    margin: 5px auto 5px;
    background-color: #cccccc;
    position: relative;
    border: 1px solid #cccccc;
}
.separator:after {
    width: 70px;
    height: 5px;
    background: #333333;
    position: absolute;
    top: -1px;
    left: -1px;
    content: "";
}
/*Exam center */
/* .table > thead > tr > th {
    border-bottom: 1px solid #e84c3d; 
    background-color: #e84c3d;
    color: #fff; 
}
.table-bordered {
     border: 1px solid #e84c3d; 
} */

.nav-tabs > li > a {
    font-size: 12px;
    text-transform: uppercase;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding: 10px 10px;
    position: relative;
    color: #666666;
}

.nav-tabs > li.active > a:after {
    width: 3px;
    content: "";
     background-color: #e84c3d; 
    height: 103%;
    position: absolute;
    left: 0;
    top: 0;
}
.tab-content {
    border: 1px solid #f0f0f0;
    padding: 5px;
    border-top: none;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    position: relative;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    background-color: #fafafa;
    margin-bottom: 15px;
}
.tab-content:after {
    width: 3px;
    content: "";
    background-color: #e84c3d;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}